<div class="bottom-nav">
    <a href="/" class="btn btn-primary">
        <i class="fas fa-plus-square"></i>
    </a>
    <a href="/" class="btn btn-primary">
        <i class="fas fa-home"></i>
    </a>
    <a href="/profile" class="btn btn-primary">
        <i class="fas fa-user"></i>
    </a>
</div>
