@page "/contact-us"

<div class="hero-section">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Contact Us!</h1>
            <h2>Discover all the ways that you can reach us</h2>
            <p>
                If you have any questions, concerns, or feedback, feel free to reach out to us. 
                Our team is here to assist you and ensure your experience with our services is seamless and satisfactory.
            </p>
        </div>
        <div class="hero-image">
            <img src="Images/contact_us.png" alt="Contact Us Image">
        </div>
    </div>
</div>

<!-- Contact Layout -->
<div class="contact-layout">
    <!-- Left Column -->
    <div class="left-column">
        <div class="contact-details">
            <h3>Contact Information</h3>
            <ul>
                <li><strong>Phone: </strong><a href=tel:70109009>70 10 90 09</a></li>
                <li><strong>Email: </strong><a href=mailto:support@gjensidige.com>support@gjensidige.com</a></li>
                <li><strong>Address: </strong> A. C. Meyers Vænge 9, Copenhagen, Denmark</li>
            </ul>
        </div>
        <div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.717769572033!2d12.533198015924998!3d55.655609280527156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652539a0805cf09%3A0xb20352ec8c8f6368!2sA.%20C.%20Meyers%20V%C3%A6nge%209%2C%202450%20K%C3%B8benhavn!5e0!3m2!1sen!2sdk!4v1700000000000!5m2!1sen!2sdk"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
</div>

    </div>

    <!-- Right Column -->
    <div class="right-column">
        <div class="card">
            <span class="title">Contact Us Directly</span>
            <form class="form">
                <div class="group">
                    <input placeholder="" type="text" required>
                    <label for="name">Name</label>
                </div>
                <div class="group">
                    <input placeholder="" type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="group">
                    <textarea placeholder="" id="comment" name="comment" rows="10" required></textarea>
                    <label for="comment">Comment</label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>