@page "/"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CustomAuthenticationStateProvider AuthProvider
@inject IHttpClientFactory HttpClientFactory
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <div class="yellow-ribbon">
            <p>Welcome, @userName!</p>
        </div>
    </Authorized>
</AuthorizeView>

<div class="hero-section">
    <div class="hero-content">
        <div class="hero-image">
            <img src="Images/discover_AI.jpg" alt="Discover AI Image">
        </div>
        <div class="hero-text">
            <h1>Discover our New AI Solution!</h1>
            <h2>Save money by using our tailored solution just for you. </h2>
            <button class="cta-button" @onclick="NavigateToSurvey">Learn More</button>
        </div>
    </div>
</div>

<div class="review-section">
    <div class="review-content">
        <span class="rating">4.5 out of 5</span>
        <div class="stars"><a href=https://dk.trustpilot.com/review/www.gjensidige.dk>
            <img src="Images/stars.png" alt="Stars"></a>
        </div>
        <span class="review-text">Based on <strong>18,188 reviews</strong></span>
        <div class="trustpilot-logo"><a href=https://dk.trustpilot.com/review/www.gjensidige.dk>
            <img src="Images/trustpilot_logo.webp" alt="Trustpilot Logo"></a>
        </div>
    </div>
</div>

<div class="features-section">
    <div class="feature">
        <h2>Personalized Insurance</h2>
        <p>Receive packages tailored to your unique health profile.</p>
    </div>
    <div class="feature">
        <h2>AI Health Analysis</h2>
        <p>Our AI evaluates your health data for accurate insights.</p>
    </div>
    <div class="feature">
        <h2>24/7 Support</h2>
        <p>Get assistance from our experts anytime you need it.</p>
    </div>
</div>

<div class="your-benefits">
    <div class="benefits-section">
        <h2>Your benefits</h2>
        <p>There are many advantages to becoming a customer with us. 
            You get discounts at private hospitals, access to an online doctor, and many more advantages. </p>
        </div>
</div>

<div class="survey-section">
    <h2>Start Your Health Journey</h2>
    <p>Start your journey by signing up on our website.</p>
    <button class="cta-button" @onclick="NavigateToLogin">Sign Up!</button>
</div>

<footer class="footer">
    <p>© 2024 Gjensidige. All rights reserved.</p>
    <ul>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
</footer>

@code {
    private string userName;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await UpdateUserName();
    }

    private async Task UpdateUserName()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.FindFirst(c => c.Type == ClaimTypes.GivenName)?.Value;
        }
        else
        {
            userName = null;
        }

        StateHasChanged();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await UpdateUserName();
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/signup");
    }

    private void NavigateToSurvey()
    {
        NavigationManager.NavigateTo("/AIdescription");
    }

    public void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}