@page "/medical-questions"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<section class="health-overview">
    <div class="titleNice">Medical Overview Assessment</div>
</section>

<section id="health-form" class="health-form">
    <div class="edit-medical-data-container">    
    <div class="info-box-medical-box">
        <div class="profile-card">
            <EditForm Model="@medicalInformation" OnValidSubmit="@SaveMedicalData">
                <DataAnnotationsValidator />
                <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                <div class="form-group">
                    <label for="Blood_pressure">What is your resting blood pressure? </label>
                    <InputNumber id="blood_pressure" class="form-control" @bind-Value="medicalInformation.RestingBP" />
                </div>

                <div class="form-group">
                    <label for="Heart_rate">What is your maximum heart rate achieved? </label>
                    <InputNumber id="heart_rate" class="form-control" @bind-Value="medicalInformation.MaxHR" />
                </div>

                <div class="form-group">
                    <label for="Cholesterol">What is your cholesterol level? </label>
                    <InputNumber id="cholesterol" class="form-control" @bind-Value="medicalInformation.Cholesterol" />
                </div>

                <div class="form-group">
                    <label for="FastingBS">Is your fasting blood sugar > 120 mg/dl? </label>
                    <InputSelect id="fastingBS" class="form-control" @bind-Value="medicalInformation.FastingBS">
                        <option value="">Select an option</option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label for="ExerciseAngina">Do you experience exercise-induced angina? </label>
                    <InputSelect id="exerciseAngina" class="form-control" @bind-Value="medicalInformation.ExerciseAngina">
                        <option value="">Select an option</option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label for="Oldpeak">What is your ST depression induced by exercise relative to rest? </label>
                    <InputNumber id="oldpeak" class="form-control" @bind-Value="medicalInformation.Oldpeak" />
                </div>

                <div class="form-group">
                    <label for="ChestPainType">What is your chest pain type? </label>
                    <InputSelect id="chestPainType" class="form-control" @bind-Value="medicalInformation.ChestPainType">
                        <option value="">Select an option</option>
                        <option value="0">Typical Angina</option>
                        <option value="1">Atypical Angina</option>
                        <option value="2">Non-Anginal Pain</option>
                        <option value="3">Asymptomatic</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label for="STSlope">What is your ST slope? </label>
                    <InputSelect id="stSlope" class="form-control" @bind-Value="medicalInformation.STSlope">
                        <option value="">Select an option</option>
                        <option value="0">Upsloping</option>
                        <option value="1">Flat</option>
                        <option value="2">Downsloping</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label for="RestingECG">What is your resting ECG result? </label>
                    <InputSelect id="restingECG" class="form-control" @bind-Value="medicalInformation.RestingECG">
                        <option value="">Select an option</option>
                        <option value="0">Left Ventricular Hypertrophy</option>
                        <option value="1">Normal</option>
                        <option value="2">ST-T wave abnormality</option>
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-primary save-btn">Save Your Medical Data</button>
            </EditForm>
        </div>
    </div>
</div>
</section>

@code {
    private MedicalInformation medicalInformation = new MedicalInformation();

    private async Task SaveMedicalData()
    {
        var httpClient = HttpClientFactory.CreateClient();
        var response = await httpClient.PostAsJsonAsync("api/UserInformation/MedicalInformation", medicalInformation);
        if (response.IsSuccessStatusCode)
        {
            // Handle success (e.g., show a success message or navigate to another page)
            NavigationManager.NavigateTo("/AIform#survey-section");
        }
        else
        {
            // Handle error (e.g., show an error message)
        }
    }

    public class MedicalInformation
    {
        public int MedicalInformationId { get; set; }
        public int UserId { get; set; }
        public int RestingBP { get; set; }
        public int MaxHR { get; set; }
        public int Cholesterol { get; set; }
        public int FastingBS { get; set; }
        public int ExerciseAngina { get; set; }
        public float Oldpeak { get; set; }
        public ChestPainType ChestPainType { get; set; }
        public STSlope STSlope { get; set; }
        public RestingECG RestingECG { get; set; }
    }

    public enum STSlope
    {
        Upsloping = 0,
        Flat = 1,
        Downsloping = 2
    }

    public enum ChestPainType
    {
        TypicalAngina = 0,
        AtypicalAngina = 1,
        NonAnginalPain = 2,
        Asymptomatic = 3
    }

    public enum RestingECG
    {
        RestingECG_LVH = 0,
        RestingECG_Normal = 1,
        RestingECG_ST = 2
    }
}