@page "/MedicalQuestions"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<section class="health-overview">
    <div class="titleNice">Medical Health Overview Assessment</div>
    <div class="container1">
        <div class="text-content">
                <p class="description">
                    
                </p>
        </div>
        <div class="image-content">
                <img src="" alt="" class="overview-image" />   
        </div>       
    </div>
    <div class="container2">
        <div class="text-content">
                <p class="description">
                    
                </p>
        </div>    
    </div>
</section>

<section id="health-form" class="health-form">
    <div class="edit-medical-data-container">
    <h1 class="page-title">Medical Health Overview</h1>
    
    <div class="info-box-medical-box">
        <div class="profile-card">
            <h2 class="section-title">Medical Information</h2>

            <div class="form-group">
                <label for="Blood_pressure">What is your resting blood pressure? </label>
                <input type="number" id="blood_pressure" class="form-control" placeholder="Enter your blood pressure" min="0">
            </div>

            <div class="form-group">
                <label for="Heart_rate">What is your maximum heart rate achieved? </label>
                <input type="number" id="heart_rate" class="form-control" placeholder="Enter your maxmum heart rate" min="0">
            </div>

            <div class="form-group">
                <label for="Insuline">What is your insuline level?</label>
                <input type="number" id="insuline" class="form-control" placeholder="Enter your insuline level" min="0">
            </div>

            <div class="form-group">
                <label for="Glucose">What is your glucose level?</label>
                <input type="number" id="glucose" class="form-control" placeholder="Enter your glucose level" min="0">
            </div>

            <div class="form-group">
                <label for="Cholesterol">What is your cholesterol level?</label>
                <input type="number" id="cholesterol" class="form-control" placeholder="Enter your cholesterol level" min="0">
            </div>

            <div class="form-group">
                <label for="Blood_sugar">What is your fasting blood sugar level?</label>
                <input type="number" id="blood_sugar" class="form-control" placeholder="Enter your fasting blood sugar" min="0">
            </div>

            <div class="form-group">
                <label for="Hemoglobin">What is your hemoglobin level?</label>
                <input type="number" id="hemoglobin" class="form-control" placeholder="Enter your glucose level" min="0">
            </div>

            <div class="form-group">
                <label for="Hypertension">Do you suffer from hypertension?</label>
                <select id="hypertension" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Heart_disease">Do you suffer from a heart disease? </label>
                <select id="heart_disease" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Allergies">Do you have any allergies?</label>
                <select id="allergies" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Diabetes">Do you suffer from diabetes?</label>
                <select id="diabetes" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

             <div class="form-group">
                <label for="Anxiety">Do you suffer from anxiety?</label>
                <select id="anxiety" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <hr />

            <h2 class="section-title">Lifestyle Information</h2>

            <div class="form-group">
                <label for="Chest">Do you suffer from chest pain daily?</label>
                <select id="chest" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Exercising">Do you suffer from chest pain while exercising?</label>
                <select id="exercising" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Cough">Do you suffer from chronic coughing?</label>
                <select id="cough" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

             <div class="form-group">
                <label for="Wheezing">Do you suffer from wheezing?</label>
                <select id="wheezing" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Breathing">Do you suffer from shortness of breath?</label>
                <select id="breathing" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Fingers">Do you suffer from yellow fingers?</label>
                <select id="fingers" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Pressure">Did you suffer from peer pressure over the last 6 months?</label>
                <select id="pressure" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Swallowing">Do you suffer from difficulty of swallowing?</label>
                <select id="swallowing" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>


            <button type="button" class="btn btn-primary save-btn">Save Changes</button>
        </div>
    </div>
</div>
</section>