@page "/medical-questions"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<section class="health-overview">
    <div class="titleNice">Medical Health Overview Assessment</div>  
</section>

<section id="health-form" class="health-form">
    <div class="edit-medical-data-container">    
    <div class="info-box-medical-box">
        <div class="profile-card">
            <div class="form-group">
                <label for="Blood_pressure">What is your resting blood pressure? </label>
                <input type="number" id="blood_pressure" class="form-control" placeholder="Enter your blood pressure" min="0">
            </div>

            <div class="form-group">
                <label for="Heart_rate">What is your maximum heart rate achieved? </label>
                <input type="number" id="heart_rate" class="form-control" placeholder="Enter your maxmum heart rate" min="0">
            </div>

            <div class="form-group">
                <label for="Glucose">What is your blood glucose level?</label>
                <input type="number" id="glucose" class="form-control" placeholder="Enter your glucose level" min="0">
            </div>

            <div class="form-group">
                <label for="Cholesterol">What is your cholesterol level?</label>
                <input type="number" id="cholesterol" class="form-control" placeholder="Enter your cholesterol level" min="0">
            </div>

            <div class="form-group">
                <label for="Hemoglobin">What is your hemoglobin A1c level?</label>
                <input type="number" id="hemoglobin" class="form-control" placeholder="Enter your hemoglobin level" min="0">
            </div>

            <div class="form-group">
                <label for="Hypertension">Do you suffer from hypertension?</label>
                <select id="hypertension" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Heart_disease">Do you suffer from a heart disease? </label>
                <select id="heart_disease" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Chest">Do you suffer from any chestpain?</label>
                <select id="chest" class="form-control">
                    <option value="">Select an option</option>
                    <option value="TA">Typical Angina</option>
                    <option value="ATA">Atypical Angina</option>
                    <option value="NAP">Non-Anginal Pain</option>
                    <option value="ASY">I don't suffer from chestpain</option>
                </select>
            </div>

                 <div class="form-group">
                <label for="Angina">Do you suffer from exercise induced angina?</label>
                <select id="angina" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ECG">What are your resting electrocardiogram (ECG) results?</label>
                <select id="ecg" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Normal">Normal</option>
                    <option value="ST">I have ST-T wave abnormality</option>
                    <option value="LVH">Showing probable or definite left ventricular hypertrophy</option>
                </select>
            </div>

             <div class="form-group">
                <label for="Oldpeak">What is your oldpeak?</label>
                <input type="number" id="oldpeak" class="form-control" placeholder="Enter your oldpeak = ST" min="0">
            </div>

            <div class="form-group">
                <label for="ST_Slope">What is your ST slope of the peak exercise? </label>
                <select id="st_slope" class="form-control">
                    <option value="">Select an option</option>
                    <option value="Up">Upsloping</option>
                    <option value="Flat">Flat</option>
                    <option value="Down">Downsloping</option>
                </select>
            </div>


            <button type="button" class="btn btn-primary save-btn" @onclick="NavigateToForm" >Save Your Medical Data</button>
        </div>
    </div>
</div>
</section>

@code {
    private void NavigateToForm()
    {
        NavigationManager.NavigateTo("/AIform#survey-section");
    }

}